#########################
# Fichiers / dossiers lourds
#########################

# Données et modèles volumineux
data/
datasets/
logs/
models/
checkpoints/

*.zip
*.tar
*.tar.gz
*.7z
*.rar
*.iso

*.mp4
*.avi
*.mkv
*.mov

*.h5
*.hdf5
*.pt
*.pth
*.onnx
*.pb
*.pkl
*.joblib


#########################
# Python
#########################

__pycache__/
*.py[cod]
*.pyo
*.pyd

.env
.venv/
venv/
env/


#########################
# Node / JS
#########################

node_modules/
dist/
build/


#########################
# IDE / OS
#########################

.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

